<H1>Data Science Tools and Ecosystem</H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objectives: </strong>
- Overview of R and RStudio
- Plotting with ggplot
- GitHub Overview 
- Creating a GitHub Account

Some of the popular languages that Data Scientists use are:
1. Java
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. NumPy
3. Pandas
4. SciPy

|Num | Open Source Tools | 
| ------ | ------ | 
| 1 | Apache Spark |
| 2 | RStudio |
| 3 | TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 // 60

3

## Author
Dmitrii